<!-- NAVIGATION -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand">Got Dirt, Need Dirt</a>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
		<div class="container-fluid">
			<ul class="nav navbar-nav navbar-right">
				<li class="navbar-text">Welcome {{name}}, you are signed in as a {{user_type}}.</li>
				<li><a href="#/jobs" ng-show="user_type=='contractor'">Post New Job</a></li>
				<li><a href="#/" ng-click="logout()">Logout</a></li>
			</ul>
		</div>
	</div><!--/.nav-collapse -->
</nav>

<!-- MAIN -->
<div class="row error" ng-bind="error"></div>

<div class="row" ng-show="!error">
	<h1>We Got Dirt</h1>
	<div class="col-lg-2">
		<h2>Sort By:</h2>
		<form>
	    <div class="radio">
	      <label><input type="radio" name="sorting-option" checked>Distance</label>
	    </div>
	    <div class="radio">
	      <label><input type="radio" name="sorting-option">Latest</label>
	    </div>
	  </form>
	</div>
	<div class="col-lg-10">
		<div class="row" ng-repeat="job in jobs" style="margin-bottom: 10px;">
			<div class="col-lg-3">
				<img class="img-rounded img-responsive" src="http://placehold.it/350x350" alt="">
			</div>
			<div class="col-lg-9">
				<h2>{{job.amount}} cubic yards {{id==job.contractor_id ? '(Posted by you)' : '(est __ miles away)'}}</h2>
				<b>Description:</b><br>
				<p ng-bind="job.description"></p>
				<b>Posted:</b><br>
				<p>{{job.created_at | date:'fullDate'}} at {{job.created_at | date:'shortTime'}}</p>
				<input type="checkbox" ng-checked="job.pickup_only" disabled/>Pickup Only
				<input type="checkbox" ng-checked="job.loader_onsite" disabled/>Loader On-Site
				<a href="#/jobs/{{job.id}}"><button class="btn btn-default pull-right">View Job</button></a>
			</div>
		</div>
	</div>
</div>
