<!-- NAVIGATION -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#/">Got Dirt, Need Dirt</a>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
		<div class="container-fluid">
			<ul class="nav navbar-nav navbar-right">
				<li class="navbar-text">Welcome {{name}}, you are signed in as a {{user_type}}.</li>
				<li ng-if="user_type=='user'"><a href="#/jobs">Post New Job</a></li>
				<li><a href="#/messages">Messages</a></li>
				<li><a href="#/invoices">Invoices</a></li>
				<li><a href="#/about">About</a></li>
				<li><a href="" ng-click="logout()">Logout</a></li>
			</ul>
		</div>
	</div><!--/.nav-collapse -->
</nav>

<!-- MAIN -->
<div class="row">
	<a class="col-sm-4 col-sm-offset-8" href="#/">
		<button class="btn btn-default center-block">Back to Job Listings</button>
	</a>
</div>
<div class="row error" ng-bind="error"></div>

<div class="row" ng-show="!error">
	<!-- SHOW MODE -->
	<div ng-show="mode=='show'">
		<h4 class="text-center" ng-class="{darkorange: id==job.user_id}">{{id==job.user_id ? 'Listed by you' : 'You are 10 miles away from the pick-up location'}}</h4>
		<div class="col-sm-3">
			<img class="img-rounded img-responsive center-block" ng-src="../static/images/dirt_types/{{job.src}}.jpg" alt="">
			<hr>
			<p ng-if="job.job_type==0">This job requires a trucker that can pick-up/remove {{job.volume | number:2}} yds<sup>3</sup> of {{job.dirt_type}} from a location.</p>
			<p ng-if="job.job_type==1">This job requires a trucker that has {{job.volume | number:2}} yds<sup>3</sup> of {{job.dirt_type}} and can drop-off at a location.</p>
			<p ng-if="job.job_type==2">This job requires a trucker that can pick-up {{job.volume | number:2}} yds<sup>3</sup> of {{job.dirt_type}} from one location and drop-off at another location.</p>
		</div>
		<div class="col-sm-6 center-content">
			<table class="table table-bordered">
				<tr>
					<th>Job Type:</th>
					<td ng-if="job.job_type==0">Dirt removal/pick-up</td>
					<td ng-if="job.job_type==1">Dirt delivery/drop-off</td>
					<td ng-if="job.job_type==2">Dirt pick-up &amp; delivery</td>
				<tr>
					<th>Dirt Type:</th>
					<td ng-bind="job.dirt_type"></td>
				</tr>
				<tr>
					<th>Volume:</th>
					<td>{{job.volume | number:2}} yds<sup>3</sup></td>
				</tr>
				<tr>
					<th>Posted On:</th>
					<td ng-bind="job.created_at | date:'shortDate'"></td>
				</tr>
				<tr>
					<th>Complete By:</th>
					<td ng-bind="job.completion_date | date:'shortDate'"></td>
				</tr>
				<tr>
					<th>Pick-Up Location:</th>
					<td>To be shared upon job acceptance</td>
				</tr>
				<tr ng-if="!job.pickup_only">
					<th>Drop-Off Location:</th>
					<td>To be shared upon job acceptance</td>
				</tr>
			</table>
		</div>
		<div class="col-sm-3">
			<span ng-if="job.job_type!=1">
				<input type="checkbox" ng-checked="job.p_loader" disabled/> Loader at Pick-Up<br>
			</span>
			<span ng-if="job.job_type!=0">
				<input type="checkbox" ng-checked="job.d_loader" disabled/> Loader at Drop-Off<br>
			</span>
			<hr>
			<table>
				<tr>
					<th>Volume:</th>
					<td class="pull-right" ng-bind="job.volume | number:2"></td>
				</tr>
				<tr>
					<th>Distance:</th>
					<td class="pull-right">10 mi</td>
				</tr>
				<tr style="border-bottom: 1px solid black">
					<th>Lead Fee:</th>
					<td class="pull-right">$25</td>
				</tr>
				<tr>
					<th>Trucker's payout:</th>
					<td class="pull-right">$200</td>
				</tr>
			</table>
			<br>

			<!-- TRUCKER -->
			<div class="row" ng-if="user_type=='trucker'">
				<!-- STATUS UNDEFINED -->
				<button class="form-control btn btn-info" ng-if="job.status===undefined && job.job_status===0" ng-click="createApplication()">Apply to Job</button>
				<!-- STATUS 0 -->
				<p class="text-center dodgerblue" ng-if="job.status===0">You've applied for this job!</p>
				<button class="form-control btn btn-danger" ng-if="job.status===0" ng-click="deleteApplication()">Remove Application</button>
				<!-- STATUS < 0 -->
				<p class="text-center" ng-if="job.status<0 || job.job_status<0"><b>No longer available.</b></p>
				<!-- STATUS > 0 -->
				<p class="text-center dodgerblue" ng-if="job.status>0">In progress.</p>
				<a href="#/messages/{{job.application_id}}" ng-if="job.status>0"><button class="form-control btn btn-info">View in Messages</button></a>
			</div>

			<!-- USER -->
			<div class="row" ng-if="user_type=='user'">
				<!-- JOB_STATUS 0 -->
				<button class="form-control btn btn-info" ng-if="id!=job.user_id && job.job_status===0" disabled>Apply to Job</button>
				<small ng-if="id!=job.user_id && job.job_status===0" class="text-muted">Only truckers can apply to jobs.</small>
				<button class="form-control btn btn-danger" ng-if="id==job.user_id && job.job_status===0" ng-click="deleteJob()">Remove Job</button>
				<!-- JOB_STATUS < 0 -->
				<p class="text-center" ng-if="job.job_status<0"><b>No longer available.</b></p>
				<button class="form-control btn btn-primary" ng-if="id==job.user_id && job.job_status<0" ng-click="updateJob()">Re-list Job</button>
				<!-- JOB_STATUS > 0 -->
				<p class="text-center dodgerblue" ng-if="job.job_status>0">In progress.</p>
				<a href="#/messages/{{job.application_id}}" ng-if="id==job.user_id && job.job_status>0"><button class="form-control btn btn-info">View in Messages</button></a>
			</div>

			<small style="color: darkorange" class="text-muted" ng-if="job.job_type!=1 && !job.p_loader">*Note: the user has specified there will be no loaders to assist at <b>pick-up</b>.</small><br>
			<small style="color: darkorange" class="text-muted" ng-if="job.job_type!=0 && !job.d_loader">*Note: the user has specified there will be no loaders to assist at <b>drop-off</b>.</small>
		</div>
	</div>

		<!-- DELETE MODE -->
	<div class="row" ng-show="mode=='delete'">
		<h1>Job listing has succesfully been removed.</h1>
		<p>You will now be redirected.</p>
	</div>
</div>

	<!-- SUCCESS MODE -->
	<div class="row" ng-show="mode=='success'">
		<h1>Successfully Applied to Job!</h1>
		<p>The user has been notified.<br>Go to your inbox and say hello!</p>
		<p>If they have not responded in 30 minutes, the job will become live again.<br>
		Check your inbox for updates.</p>
		<a href="#/messages"><button>My Inbox</button></a>
	</div>
</div>
