<!-- NAVIGATION -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/">Got Dirt, Need Dirt</a>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
		<div class="container-fluid">
			<ul class="nav navbar-nav navbar-right">
				<li class="navbar-text">Welcome {{name}}, you are signed in as a {{user_type}}.</li>
				<li ng-if="user_type=='user'"><a href="/jobs">Post New Job</a></li>
				<li><a href="/messages">Messages</a></li>
				<li><a href="/invoices">Invoices</a></li>
				<li><a href="/" ng-click="logout()">Logout</a></li>
			</ul>
		</div>
	</div><!--/.nav-collapse -->
</nav>

<!-- MAIN -->
<div class="row">
	<a class="col-sm-4 col-sm-offset-8" href="/">
		<button class="btn btn-default center-block">Back to Job Listings</button>
	</a>
</div>
<div class="row error" ng-bind="error"></div>

<div class="row" ng-show="!error">
	<!-- SHOW MODE -->
	<div ng-show="mode=='show'">
		<h4 class="text-center" ng-class="{darkorange: id==job.user_id}">{{id==job.user_id ? 'Listed by you' : 'You are 10 miles away from the pick-up location'}}</h4>
		<div class="col-sm-3">
			<img class="img-rounded img-responsive center-block" ng-src="../static/images/dirt_types/{{job.src}}.jpg" alt="">
			<hr>
			<p ng-if="!job.pickup_only">This job requires pick-up and delivery.</p>
			<p ng-if="job.pickup_only">Dirt available for sale.</p>
		</div>
		<div class="col-sm-6 center-content">
			<table class="table table-bordered">
				<tr>
					<th>Type:</th>
					<td ng-bind="job.dirt_type"></td>
				</tr>
				<tr>
					<th>Volume:</th>
					<td>{{job.volume | number:2}} yds<sup>3</sup></td>
				</tr>
				<tr>
					<th>Posted On:</th>
					<td ng-bind="job.created_at | date:'shortDate'"></td>
				</tr>
				<tr>
					<th>Complete By:</th>
					<td ng-bind="job.completion_date | date:'shortDate'"></td>
				</tr>
				<tr>
					<th>Pick-Up Location:</th>
					<td>To be shared upon job acceptance</td>
				</tr>
				<tr ng-if="!job.pickup_only">
					<th>Drop-Off Location:</th>
					<td>To be shared upon job acceptance</td>
				</tr>
			</table>
		</div>
		<div class="col-sm-3">
			<input type="checkbox" ng-checked="job.pickup_only" disabled/> Pickup Only<br>
			<input type="checkbox" ng-checked="job.loader_pickup" disabled/> Loader at Pick-Up<br>
			<span ng-class="{strike: job.pickup_only}"><input type="checkbox" ng-checked="job.loader_dropoff" disabled/> Loader at Drop-Off</span><br>
			<hr>
			<table>
				<tr>
					<th>Load:</th>
					<td class="pull-right" ng-bind="job.volume | number:2"></td>
				</tr>
				<tr>
					<th>Distance:</th>
					<td class="pull-right">10 mi</td>
				</tr>
				<tr style="border-bottom: 1px solid black">
					<th>Lead Fee:</th>
					<td class="pull-right">$25</td>
				</tr>
				<tr>
					<th>Trucker's payout:</th>
					<td class="pull-right">$200</td>
				</tr>
			</table>
			<br>
			<b style="color: darkorange" ng-show="user_type=='trucker' && job.applied">You've applied to this job!</b>
			<button class="form-control btn btn-info" ng-show="user_type=='trucker' && !job.applied" ng-click="createApplication()">Apply to Job</button>
			<button class="form-control btn btn-info" ng-show="id==job.user_id" ng-click="mode='edit'">Edit Job</button>
			<small style="color: darkorange" class="text-muted" ng-if="!job.loader_pickup">*Note: the user has specified there will be no loaders to assist at <b>pick-up</b>.</small><br>
			<small style="color: darkorange" class="text-muted" ng-if="!job.pickup_only && !job.loader_dropoff">*Note: the user has specified there will be no loaders to assist at <b>drop-off</b>.</small>
		</div>
	</div>

	<!-- EDIT MODE -->
	<div class="row" ng-show="mode=='edit'">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-6">
					<img class="img-rounded img-responsive" src="http://placehold.it/350x350" alt=""><br>
					<div class="row">
						<img class="img-rounded img-responsive col-xs-4" src="http://placehold.it/350x350" alt="">
						<img class="img-rounded img-responsive col-xs-4" src="http://placehold.it/350x350" alt="">
						<img class="img-rounded img-responsive col-xs-4" src="http://placehold.it/350x350" alt="">
					</div>
				</div>
				<div class="col-md-6">
					<form ng-submit="updateJob()">
						<label>Type of dirt:</label><br>
						<select ng-init="job.type" ng-model="job.type">
							<option value="Sand">Sand</option>
							<option value="Sandyclay">Sandyclay</option>
							<option value="Clay">Clay</option>
							<option value="Gravel">Gravel</option>
							<option value="Recycled Asphalt">Recycled Asphalt</option>
							<option value="Recycled Concrete">Recycled Concrete</option>
							<option value="Recycled Base Material">Recycled Base Material</option>
							<option value="Clean Fill">Clean Fill</option>
							<option value="Rough Fill">Rough Fill</option>
							<option value="Topsoil - Nice">Topsoil - Nice</option>
							<option value="Topsoil - Average">Topsoil - Average</option>
							<option value="Topsoil - Economy">Topsoil - Economy</option>
							<option value="Peat">Peat</option>
							<option value="River Rock">River Rock</option>
							<option value="Rip-Rap">Rip-Rap</option>
							<option value="Boulders">Boulders</option>
							<option value="Asphalt Chunks">Asphalt Chunks</option>
							<option value="Concrete Chunks">Concrete Chunks</option>
							<option value="Contaminated Fill">Contaminated Fill</option>
							<option value="Snow">Snow</option>
						</select><br>
						<p ng-show="job.type=='Sand'">Natural or screened / washed / crushed granular that can be compacted</p>
						<p ng-show="job.type=='Sandyclay'">Contains both sand and clay.</p>
						<p ng-show="job.type=='Clay'">Clay that can be compacted.</p>
						<p ng-show="job.type=='Gravel'">Natural or screened / washed / crushed rock that can be compacted.</p>
						<p ng-show="job.type=='Recycled Asphalt'">Crushed for reuse, from a recycling plant or staging area.</p>
						<p ng-show="job.type=='Recycled Concrete'">	Crushed for reuse, from a recycling plant or staging area.</p>
						<p ng-show="job.type=='Recycled Base Material'">Ready for reuse, from under roads &amp; parking lots.</p>
						<p ng-show="job.type=='Clean Fill'">Sand, sandyclay, clay, topsoil or a mixture of any of these with less than 5% clumps or rocks or sod or roots or weeds or concrete chunks, etc.</p>
						<p ng-show="job.type=='Rough Fill'">Same as Clean Fill, with 5% or more clumps or rocks or sod or roots or weeds, or concrete chunks, etc. Also gumbo clay and marsh bottom.</p>
						<p ng-show="job.type=='Topsoil - Nice'">High quality, rich black organic, natural or screened.</p>
						<p ng-show="job.type=='Topsoil - Average'">Average quality, medium black organic, little or no clumps, rocks, sod, or roots, etc.</p>
						<p ng-show="job.type=='Topsoil - Economy'">Low quality, some black organic, could have some clumps, rocks, sod, or roots, etc.</p>
						<p ng-show="job.type=='Peat'">Decomposed plant material, marsh bottom, could be wet or dry.</p>
						<p ng-show="job.type=='River Rock'">Rounded stones varies in color, 1/2 inch to 3 inches.</p>
						<p ng-show="job.type=='Rip-Rap'">Rock, 3 inches to 10 inches.</p>
						<p ng-show="job.type=='Boulders'">Rock, larger than 10 inches.</p>
						<p ng-show="job.type=='Asphalt Chunks'">Broken pieces of asphalt, not been recycled.</p>
						<p ng-show="job.type=='Concrete Chunks'">Broken pieces of concrete, not been recycled.</p>
						<p ng-show="job.type=='Contaminated Fill'">Dirtfill with gas, diesel fuel, PCBs, toxic chemicals, etc.</p>
						<p ng-show="job.type=='Snow'">Removed from streets, parking lots or driveways.</p>
						<label>Completed By:</label><br>
						<input  type="date" ng-model="job.completion_date" min="{{today|date:'yyyy-MM-dd'}}" required><br><br>
						<input type="checkbox" ng-model="job.pickup_only">Pickup Only
						<input type="checkbox" ng-model="job.loader_onsite">Loader On-Site<br><br>
						<div ng-if="!job.pickup_only">
							<b>Drop-Off Location:</b><br>
							<input type="text" placeholder="Address" ng-model="job.address" required><br>
							<input type="text" placeholder="City" ng-model="job.city" required><br>
							<input type="number" placeholder="Zip" ng-model="job.zip" required><br><br>
						</div>
						<input type="submit" value="Save Details">
						<p class="error" ng-bind="errors"></p>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<b>Job Size:</b>
			<hr>
			<table>
				<tr>
					<th>Load:</th>
					<td ng-bind="job.amount"></td>
				</tr>
				<tr>
					<th>Distance:</th>
					<td>5 miles (hardcoded)</td>
				</tr>
				<tr style="border-bottom: 1px solid black">
					<th>Lead Fee:</th>
					<td>$25 (hard coded)</td>
				</tr>
				<tr>
					<th>Your payout:</th>
					<td>$200 (hard coded)</td>
				</tr>
			</table>
		</div>
	</div>

	<!-- SUCCESS MODE -->
	<div class="row" ng-show="mode=='success'">
		<h1>Successfully Applied to Job!</h1>
		<p>The user has been notified.<br>Go to your inbox and say hello!</p>
		<p>If they have not responded in 30 minutes, the job will become live again.<br>
		Check your inbox for updates.</p>
		<a href="/messages"><button>My Inbox</button></a>
	</div>
</div>
