<!-- NAVIGATION -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#/">Got Dirt, Need Dirt</a>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
		<div class="container-fluid">
			<ul class="nav navbar-nav navbar-right">
				<li class="navbar-text">Welcome {{name}}, you are signed in as a {{user_type}}.</li>
				<li ng-if="user_type=='user'"><a href="#/jobs">Post New Job</a></li>
				<li><a href="#/messages">Messages</a></li>
				<li><a href="#/invoices">Invoices</a></li>
				<li><a href="#/about">About</a></li>
				<li><a href="" ng-click="logout()">Logout</a></li>
			</ul>
		</div>
	</div><!--/.nav-collapse -->
</nav>

<!-- MAIN -->
<div class="row error" ng-bind="error"></div>

<!-- MESSAGE -->
<div class="row" ng-show="mode=='message'">

	<h1 class="col-xs-12">Messages</h1>
	<div class="col-sm-4">
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="" ng-click="status=0">Pending</a></li>
			<li><a data-toggle="tab" href="" ng-click="status=1">Accepted</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane fade in active" >
				<h4 class="text-center">{{status==0?'Pending':'Accepted'}} Applications</h4>
				<div ng-repeat="app in apps | filter:filterByStatus">
					<div class="text-center">
						<b><a href="#/jobs/{{app[0].job_id}}">{{app[0].dirt_type}} | {{app[0].volume | number:0}} yds<sup>3</sup></a></b><br>
						<small ng-if="user_type=='user'">{{app.length}} applicants</small>
					</div>
					<div ng-repeat="application in app">
						<li ng-if="user_type=='user'"><a class="a_chat" href="" ng-click="showMessages(application);" ng-class="{selected: cur_app.id == application.id}">{{application.first_name}} {{application.last_name}}</a></li>
						<div class="text-center" ng-if="user_type=='trucker'">
							<a class="a_chat" href="" ng-click="showMessages(application);" ng-class="{selected: cur_app.id==application.id}">{{application.first_name}} {{application.last_name}}</a>
						</div>
					</div>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-8">
		<small class="text-muted" ng-show="!messages">You can view your conversations here. Click on a name on the left to view the conversation.</small>
		<small class="text-muted" ng-show="!messages && user_type=='user'"><br>Note that accepting an application will cause all other pending applications for that same job to be declined.</small>
		<small class="text-muted" ng-show="!messages && user_type=='trucker'"><br>Note that you will not be able to re-apply to jobs that you've cancelled.</small>
		
		<!-- USER -->
		<div ng-if="cur_app && user_type=='user'">
			<!-- STATUS 0 -->		
			<div class="center-content" ng-if="cur_app.status==0">
				<b><span class="darkorange">{{cur_app.first_name}} {{cur_app.last_name}}</span> applied for this <a href="#/jobs/{{cur_app.job_id}}">job</a> <span am-time-ago="cur_app.created_at"></span></b><br><br>
				<button class="btn btn-success" ng-click="acceptApplication()">Accept</button> <button class="btn btn-danger">Decline</button><br><br>
				<small class="text-muted">Accept {{cur_app.first_name}}'s application to start connecting.<br>You'll be connected after {{cur_app.first_name}} has paid our <a href="#/about#lead_fee">lead fee</a>.</small>
			</div>
			<!-- STATUS 1 -->
			<div class="center-content" ng-if="cur_app.status==1">
				<b>You've accepted <span class="darkorange">{{cur_app.first_name}} {{cur_app.last_name}}</span> for this <a href="#/jobs/{{cur_app.job_id}}">job</a> <span am-time-ago="cur_app.updated_at"></span></b><br><br>
				<small class="text-muted">You'll be connected after {{cur_app.first_name}} has paid our <a href="#/about#lead_fee">lead fee</a>.</small>
			</div>
			<!-- STATUS > 1 -->
			<div class="center-content" ng-if="cur_app.status>1">
				<b>Now chatting with <span class="darkorange">{{cur_app.first_name}} {{cur_app.last_name}}</span> about this <a href="#/jobs/{{cur_app.job_id}}">job</a></b><br><br>
				<small class="text-muted" ng-if="cur_app.status==2">{{cur_app.first_name}} will send you an invoice once the job has been completed.</small>
				<small class="text-muted" ng-if="cur_app.status==3">{{cur_app.first_name}} has sent you an <a href="#/invoices/{{cur_app.id}}">invoice</a>.</small>
				<small class="text-muted" ng-if="cur_app.status==4">Invoice paid. Congratulations, the job has successfully been completed!<br><a href="" ng-click="">Click here</a> to close the conversation.</small>
			</div>
		</div>

		<!-- TRUCKER -->
		<div ng-if="cur_app && user_type=='trucker'">
			<!-- STATUS 0 -->
			<div class="center-content" ng-if="cur_app.status==0">
				<b class="text-center">You applied for <span class="darkorange">{{cur_app.first_name}} {{cur_app.last_name}}'s</span> <a href="#/jobs/{{cur_app.job_id}}">job</a> <span am-time-ago="cur_app.created_at"></span></b><br><br>
				<button class="btn btn-warning center-block" ng-click="cancelApplication()">Cancel Application</button><br>
				<small class="text-muted">Waiting for {{cur_app.first_name}} to accept your application.<br>You'll be connected after being accepted and paying our <a href="#/about#lead_fee">lead fee</a>.</small>
			</div>
			<!-- STATUS 1 -->
			<div class="center-content" ng-if="cur_app.status==1">
				<b><span class="darkorange">{{cur_app.first_name}} {{cur_app.last_name}}</span> accepted you for this <a href="#/jobs/{{cur_app.job_id}}">job</a> <span am-time-ago="cur_app.updated_at"></span></b><br><br>
				<button class="btn btn-info" ng-click="">Pay Lead Fee</button> <button class="btn btn-danger" ng-click="forfeitApplication()">Forfeit Job</button>
				<small class="text-muted">You'll be connected after paying our <a href="#/about#lead_fee">lead fee</a></small>
			</div>
			<!-- STATUS > 1 -->
			<div class="center-content" ng-if="cur_app.status>1">
				<b>Now chatting with <span class="darkorange">{{cur_app.first_name}} {{cur_app.last_name}}</span> about this <a href="#/jobs/{{cur_app.job_id}}">job</a></b><br><br>
				<button ng-if="cur_app.status==2" ng-click="">Invoice Client</button>
				<small class="text-muted" ng-if="cur_app.status==2">Send {{cur_app.first_name}} an invoice after you've completed the job.</small>
				<small class="text-muted" ng-if="cur_app.status==3">You've sent {{cur_app.first_name}} an <a href="#/invoices/{{cur_app.id}}">invoice</a>.</small>
				<small class="text-muted" ng-if="cur_app.status==4">Invoice paid. Congratulations, the job has successfully been completed!<br><a href="" ng-click="">Click here</a> to close the conversation.</small>
			</div>
		</div>

		<hr>

		<div id="chat" class="row">
			<div class="col-xs-12" ng-repeat="message in messages">
				<p class="pull-right chat_time"><b>{{message.created_at | date:'shortTime'}}</b></p>
				<p class="pull-right chat_me" ng-if="id==message.trucker_id || id==message.user_id" ng-bind="message.message"></p>
				<p class="chat_you" ng-if="id!=message.trucker_id && id!=message.user_id" ng-bind="message.message"></p>
			</div>
		</div>
		<form ng-show="messages" ng-submit="createMessage()">
			<div class="col-xs-8">
				<input class="form-control" type="text" placeholder="Type a message here..." ng-model="new_message" required ng-disabled="cur_app.status<2">
			</div>
			<div class="col-xs-4">
				<input class="btn btn-info form-control pull-right" type="submit" value="Send" ng-disabled="cur_app.status<2">
			</div>
			<a class="error col-xs-4 pull-right text-center" href="" ng-if="cur_app.status>1"><small>Report User</small></a>
		</form>
	</div>
</div>

<!-- INVOICE -->
<div class="row" ng-show="!error && mode=='invoice'">
	<h1>Create Invoice</h1>
	<button ng-click="mode='message'">Back</button>
	<p>Review the details before it's sent:</p>
	<table>
		<tr>
			<th>Completion Date:</th>
			<td ng-bind="job.completion_date | date:'fullDate'"></td>
		</tr>
		<tr>
			<th>Amount of Dirt:</th>
			<td>{{job.amount}} cubic yards</td>
		</tr>
		<tr>
			<th>Type of Dirt:</th>
			<td ng-bind="job.type"></td>
		</tr>
		<tr>
			<th>Distance:</th>
			<td>10 miles (hard coded)</td>
		</tr>
		<tr>
			<th>Pickup Location:</th>
			<td>Some hard coded address</td>
		</tr>
		<tr>
			<th>Estimated Cost:</th>
			<td>$300</td>
		</tr>
	</table>
	<label>Notes:</label><br>
	<textarea ng-model="new_invoice.notes"></textarea><br>
	<button ng-click="createInvoice()">Send Invoice</button>
</div>

<!-- INVOICED -->
<div class="row center-content" ng-show="!error && mode=='invoiced'">
	<h1>Success!</h1>
	<p>Your invoice has been sent.</p>
	<p>Your funds will be available to view in the top right menu under invoices, or just click below:</p>
	<a href="#/invoices"><button>View Invoices</button></a>
</div>

