<!-- NAVIGATION -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#/">Got Dirt, Need Dirt</a>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
		<div class="container-fluid">
			<ul class="nav navbar-nav navbar-right">
				<li class="navbar-text">Welcome {{name}}, you are signed in as a {{user_type}}.</li>
				<li ng-if="user_type=='user'"><a href="#/jobs">Post New Job</a></li>
				<li><a href="#/messages">Messages</a></li>
				<li><a href="#/invoices">Invoices</a></li>
				<li><a href="#/" ng-click="logout()">Logout</a></li>
			</ul>
		</div>
	</div><!--/.nav-collapse -->
</nav>

<!-- MAIN -->
<div class="row error" ng-bind="error"></div>

<!-- MESSAGE -->
<div class="row" ng-show="mode=='message'">
	<h1 class="col-xs-12">Messages</h1>
	<div class="col-sm-4">
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="" ng-click="status=0">Pending</a></li>
			<li><a data-toggle="tab" href="" ng-click="status=1">Accepted</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane fade in active" >
				<h4 class="text-center">{{status==0?'Pending':'Accepted'}} Applications</h4>
				<div ng-repeat="app in apps | filter:{status: status}">
					<div class="text-center">
						<b><a href="#/jobs/{{app[0].job_id}}">{{app[0].dirt_type}} | {{app[0].volume | number:0}} yds<sup>3</sup></a></b><br>
						<small ng-if="user_type=='user'">{{app.length}} applicants</small>
					</div>
					<div ng-repeat="application in app | filter:{status: status}">
						<li ng-if="user_type=='user'"><a class="a_chat" href="" ng-click="showMessages(application);" ng-class="{selected: cur_app.id == application.id}">{{application.first_name}} {{application.last_name}}</a></li>
						<div class="text-center" ng-if="user_type=='trucker'">
							<a class="a_chat" href="" ng-click="showMessages(application);" ng-class="{selected: cur_app.id == application.id}">{{application.first_name}} {{application.last_name}}</a>
						</div>
					</div>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-8">
		<div ng-if="cur_app && user_type=='trucker'">
			<p class="text-center">You applied for this <a href="#/jobs/{{cur_app.job_id}}">job</a> on {{cur_app.created_at | date:"shortDate"}}</p>
			<button class="btn btn-warning center-block" ng-if="cur_app.status==0" ng-click="">Cancel Application</button>
			<button class="btn btn-warning center-block" ng-if="cur_app.status==1" ng-click="">Cancel Job</button>
		</div>
		<div ng-if="cur_app && user_type=='user'">
			<div class="center-content" ng-if="cur_app.status==0">
				<b><span class="darkorange">{{cur_app.first_name}} {{cur_app.last_name}}</span> applied for this <a href="#/jobs/{{cur_app.job_id}}">job</a> on {{cur_app.created_at | date:"shortDate"}}</b><br><br>
				<button class="btn btn-success">Accept</button> <button class="btn btn-danger">Decline</button>				
			</div>
			<div class="center-content" ng-if="cur_app.status==1">
				<b><span class="darkorange">You've accepted {{cur_app.first_name}}</span>{{cur_app.last_name}} for this <a href="#/jobs/{{cur_app.job_id}}">job</a> on {{cur_app.updated_at | date:"shortDate"}}</b><br><br>
				<button class="btn btn-success">Accept</button> <button class="btn btn-danger">Decline</button>
			</div>
			<button class="btn btn-default" ng-if="cur_app.status==1" ng-click="">Cancel Job</button>
		</div>
		<hr>
		<small class="text-muted" ng-show="!messages">You can view your conversations here. Click on a conversation on the left to view the conversation.</small>
		<div id="chat" class="row">
			<div class="col-xs-12" ng-repeat="message in messages">
<!-- 				<p class="pull-right">&nbsp;<b>{{message.created_at | date:'shortTime'}}</b></p>
				<p ng-class="{'pull-right': id==message.trucker_id || id==message.user_id}"
				ng-bind="message.message"></p>
				<span ng-if="id==message.trucker_id || id==message.user_id"><br><br></span> -->
				<p class="pull-right chat_time"><b>{{message.created_at | date:'shortTime'}}</b></p>
				<p class="pull-right chat_me" ng-if="id==message.trucker_id || id==message.user_id" ng-bind="message.message"></p>
				<p class="chat_you" ng-if="id!=message.trucker_id && id!=message.user_id" ng-bind="message.message"></p>
			</div>
		</div>
		<form ng-show="messages" ng-submit="createMessage()">
			<div class="col-xs-8">
				<input class="form-control" type="text" placeholder="Type a message here..." ng-model="new_message.message" required>
			</div>
			<div class="col-xs-4">
				<input class="btn btn-info form-control pull-right" type="submit" value="Send">
			</div>
			<div style="margin-top: 20px;" class="col-xs-12" ng-show="user_type=='trucker' && cur_app.status==0">
				<button class="btn btn-primary form-control" type="button" ng-click="showJob()">Invoice Client</button>
			</div>
			<a class="error col-xs-4 pull-right text-center" href=""><small>Report User</small></a>
		</form>
	</div>
</div>

<!-- INVOICE -->
<div class="row" ng-show="!error && mode=='invoice'">
	<h1>Create Invoice</h1>
	<button ng-click="mode='message'">Back</button>
	<p>Review the details before it's sent:</p>
	<table>
		<tr>
			<th>Completion Date:</th>
			<td ng-bind="job.completion_date | date:'fullDate'"></td>
		</tr>
		<tr>
			<th>Amount of Dirt:</th>
			<td>{{job.amount}} cubic yards</td>
		</tr>
		<tr>
			<th>Type of Dirt:</th>
			<td ng-bind="job.type"></td>
		</tr>
		<tr>
			<th>Distance:</th>
			<td>10 miles (hard coded)</td>
		</tr>
		<tr>
			<th>Pickup Location:</th>
			<td>Some hard coded address</td>
		</tr>
		<tr>
			<th>Estimated Cost:</th>
			<td>$300</td>
		</tr>
	</table>
	<label>Notes:</label><br>
	<textarea ng-model="new_invoice.notes"></textarea><br>
	<button ng-click="createInvoice()">Send Invoice</button>
</div>

<!-- SUCCESS -->
<div class="row" ng-show="!error && mode=='success'">
	<h1>Success!</h1>
	<p>Your invoice has been sent.</p>
	<p>Your funds will be available to view in the top right menu under invoices.</p>
	<p>Or just click below:</p>
	<a href="#/invoices"><button>View Invoices</button></a>
</div>
