@font-face{
	font-family: Lato;
	src: url(../fonts/Lato-Medium.ttf);
}

@font-face {
	font-family: Bandung;
	src: url(../fonts/BandungHardcoreGP.ttf);
}

/*Bootstrap Overrides*/
h1,h2,h3,h4,h5,p,li,a{
	font-family: Lato, Times;
}

.navbar-custom .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar-custom {
    background-color: #593202;
    color: white;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color: #FFF;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color:transparent;
}
.navbar-custom .navbar-brand {
    color: #eeeeee;
}

.navbar-toggle{
	background-color: #F2B705;
}

body{
	padding-top: 70px;
}

#Bandung {
	font-family: Bandung, Times;
	font-size: 25px;
}

#Logo{
	width: 2em;
	padding: 0;
	margin-left: 1em;
}

/* Structure */
#SuedoBody {
	min-height: 70vh;
}

.dirt-link {
	color: #4A730E;
}

.dirt-link:hover {
	color: #593202;
}

.background {
	position: absolute;
	top: -8em;
	width: 100vw;
	height: auto;
	z-index: -5;

}

/* Colors */
.green {
	background-color: #4A730E;
}

.yellow {
	background-color: #F2B705;
}

.tan {
	background-color: #F29F05;
}

.tan-transparent {
	background-color: rgba(242, 159, 5, 0.7);
	border-radius: 5px;
}

.orange {
	background-color: #D97904;
}

.brown {
	background-color: #593202;
}

.white-text {
	color: #FFF;
}

.black-text {
	color: #000;
}


/* Buttons */
.btn-yellow {
	color: #FFF;
	background-color: #F2B705;
	border-color: #F2B705
}

.btn-yellow:hover {
	color: #FFF;
	background-color: #E5AA06;
	border-color: #E5AD06;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	color: black;
	background-color: #4A730E;
}

.btn-orange {
	color: #FFF;
	background-color: #D97904;
	border-color: #D97904;
}

.btn-orange:hover {
	color: #FFF;
	background-color: #CE7004;
	border-color: #C96D04;
}

.btn-green {
	color: #FFF;
	background-color: #4A730E;
	border-color: #4A730E;
}

.btn-green:hover {
	color: #FFF;
	background-color: #45680d;
	border-color: #44680D;
}

.error {
	color: red;
}
.center-content{
	text-align: center;
}

.horizontal-spacer{
	margin: 30px;
}

/*Welcome Partial*/

/*Welcome Partial END*/

.footer{
	margin-top: 4em;
}

#chat {
	height: 400px;
	padding: 10px;
	overflow-y: auto;
}

.chat_time {
	padding: 10px;
	min-width: 10%;
}

.chat_me {
	color: white;
	background-color: #33b5e5;
	border-radius: 10px;
	padding: 10px;
	max-width: 50%;
	word-wrap: break-word;
}

.chat_you {
	background-color: lightgray;
	border-radius: 10px;
	padding: 10px;
	max-width: 50%;
	display: inline-block;
	word-wrap: break-word;
}
.strike {
    text-decoration: line-through;
}

.darkorange {
	color: darkorange;
}

.dodgerblue {
	color: dodgerblue;
}

.title-text:hover {
	color: #D97904;
}

.a_chat:hover {
	text-decoration: none;
	font-weight: bold;
}

.selected {
	color: darkorange;
	font-weight: bold;
}
